{% extends "_about.html" %}

{% hyde
    title: Downloads
    subtitle: fresh and older game versions for offline playing
%}

{% block article %}

PLEASE NOTE: although game is playable, it's in early alpha yet. A lot of features are not implemented and bugs are *very* possible. So play on your own risk.

Featured version
----------------

<table class="table table-bordered table-striped" style="width: 600px;">
      <tbody>
	<tr>
	  <td><b>0.1.2-alpha a.k.a. "A Long Tale"</b></td>
	  <td width="130" align="center"><a class="btn btn-primary" href="{{ site.url }}/media/downloads/motil-0.1.2-alpha.zip"><i class="icon-download-alt icon-white"></i> Download</a></td>
	</tr>
      </tbody>
</table>

<hr />

Older versions
--------------

<table class="table table-bordered table-striped" style="width: 600px;">
      <tbody>
	<tr>
	  <td>0.1.1-alpha a.k.a. "A Caucus-Race"</td>
	  <td width="130" align="center"><a class="btn" href="{{ site.url }}/media/downloads/motil-0.1.1-alpha.zip"><i class="icon-download-alt icon-white"></i> Download</a></td>
	</tr>
	<tr>
	  <td>0.1.0-alpha a.k.a. "Not The Meal"</td>
	  <td width="130" align="center"><a class="btn" href="{{ site.url }}/media/downloads/motil-0.1.0-alpha.zip"><i class="icon-download-alt icon-white"></i> Download</a></td>
	</tr>
	<tr>
	  <td>0.0.6-alpha a.k.a. "Walls Have Ears"</td>
	  <td width="130" align="center"><a class="btn" href="{{ site.url }}/media/downloads/motil-0.0.6-alpha.zip"><i class="icon-download-alt icon-white"></i> Download</a></td>
	</tr>
	<tr>
	  <td>0.0.5-alpha a.k.a. "Rubble Time"</td>
	  <td width="130" align="center"><a class="btn" href="{{ site.url }}/media/downloads/motil-0.0.5-alpha.zip"><i class="icon-download-alt icon-white"></i> Download</a></td>
	</tr>
	<tr>
	  <td>0.0.4-alpha a.k.a. "Tunnel Syndrome"</td>
	  <td width="130" align="center"><a class="btn" href="{{ site.url }}/media/downloads/motil-0.0.4-alpha.zip"><i class="icon-download-alt icon-white"></i> Download</a></td>
	</tr>
      </tbody>
</table>

<hr />

Source code
-----------

The game is developing as open source project under GNU General Public License. You can always browse latest code at <a class="btn btn-inverse" href="https://github.com/rustleson/MotIL" target="_blank"> GitHub <i class="icon-share-alt icon-white"></i></a>

{% endblock %}
