{% extends "_post.html" %}
{% load webdesign %}

{% hyde
    title: Version 0.0.6-alpha a.k.a. "Walls Have Ears" is out.
    created: 2012-06-20 17:08:00
%}

{% block article %}

{% article %}
{% excerpt %}
#### CHANGELOG ####

* Walls textures are generating from noise-based sources
* Progress bar is added at starting screen
* Upgrade stats log messages are added
* Teleportation bug is fixed
* Upgrade stats with quick keys bug is fixed
* Artefact absorbtion bug is fixed

{% endexcerpt %}

{% endarticle %}

{% endblock %}
