{% extends "_post.html" %}
{% load webdesign %}

{% hyde
    title: The Mandala World birth date.
    created: 2012-07-24 00:29:00
%}

{% block article %}

{% article %}
{% excerpt %}
<p>The earliest code modification date Creator can trace is <b>2011-06-22 23:29</b>.</p>
<p>Certainly, development was started a bit earlier, but let assume that <b>June 22</b> is a birth date of the game. So with this post, Mandala of the Interpenetrating Lights is celebrating <i>1 year, 1 month, 1 day and 1 hour</i> of development :P</p>
<p>And with latest "Wardenclyffe Tower" release, it's total <b>32</b> commits at GitHub, which is two to the power of <b>5</b> or mirrored <b>23</b>. How illuminating.</p>
{% endexcerpt %}


{% endarticle %}

{% endblock %}
