{% extends "_post.html" %}
{% load webdesign %}

{% hyde
    title: The project's official website is under heavy construction.
    created: 2012-06-15 00:10:00
%}

{% block article %}

{% article %}
{% excerpt %}
<p>Many thanks to the creator of the <a href="http://ringce.com/hyde" target="_blank">Hyde</a>, a static website generator powered by <a href="http://www.python.org/" target="_blank">Python</a> & <a href="https://www.djangoproject.com/" target="_blank">Django</a>. Also, many thanks to the creators of the <a href="http://bootswatch.com/slate/" target="_blank">Slate</a> theme for <a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a>. Site is planned to be hosted in <a href="https://www.dropbox.com/" target="_blanl">Dropbox</a> as a free solution.</p>
{% endexcerpt %}

{% endarticle %}

{% endblock %}
